body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(216, 226, 216);
line-height: 160%;
background-image: url('./images/background/bb.png');

}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

a{
  text-decoration: none;
  cursor: pointer;
}

header h1 ,header{
    margin-bottom: 1em;
}

p , li{
  max-width: 768px;
}
li{
    margin-bottom: 16px;
}

ul li {
    margin-bottom: 20px;
}
section{
display: flex;

background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.8px);
-webkit-backdrop-filter: blur(1.8px);
border: 1px solid rgba(255, 255, 255, 0.23);
padding: 1em;
margin: 0 auto;
  }
  button{
    border: none;
  }
button:focus{
  outline: none;
  border: none;
}
input[type="text"], input[type="password"], textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc; /* You can adjust the color and thickness of the outline */
}

.hero-content{
  padding: 1em;
}
.tagline{
  margin-bottom: 1em;
}
.download-btn{
  display: flex;
  flex-direction: column;
  gap: 8px;
align-items: flex-start;
}

.dl-btn {
  display: flex;
  flex-direction: row;
padding: 1em;
padding-left: 1em;
  align-items: center;
color: white;
  gap: 12px;
  position: relative;
width: 60%;
  height: 27px;
cursor: pointer;


border-radius: 8px;

  border: 1px solid #8cc952;
  text-transform: uppercase;

  font-weight: 600;

  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;


}





.dl-btn:hover {
  background: #3b5824;
  color: white;
}


.market-btn {
  display: inline-block;
  padding: 0.3125rem 0.875rem;
  padding-left: 2.8125rem;
  -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  border: 1px solid #e7e7e7;
  background-position: center left 0.75rem;
  background-color: #fff;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  text-decoration: none;
 border-radius: 8px;
}
.market-btn .market-button-title {
  display: block;
  color: #222;
  font-size: 1.125rem;
}
.market-btn .market-button-subtitle {
  display: block;
  margin-bottom: -0.25rem;
  color: #888;
  font-size: 0.75rem;
}
.market-btn:hover {
  background-color: #f7f7f7;
  text-decoration: none;
}
.convert{
margin: 0 auto;
  width: 800px;
padding: 1em;
padding-top: 0;

}
.convert input{
font-size: 1em;
padding: 8px 10px ;
border-radius: 8px;
}
.convert button{
font-size: 1em;
padding: 8px 10px ;
border-radius: 8px;
}
.convert-wrapper{
width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;

}
.money{
  color: rgb(255, 255, 0);
}
.chips{
  color:#648D3D;
}




.money-btn{
  background: #FDDA16;
  text-align: left;
 
}


.convert-btn:hover span {
  transform: translateX(1200%);
}
.chips-btn{
  background: #648D3D;
  text-align: right;
  color: #000000;
}
.money-btn:hover{
  background-image: linear-gradient(to right, #fdda16, #cfc924, #a6b62f, #82a238, #648d3d);
}
.chips-btn:hover{
  background-image: linear-gradient(to left, #648d3d, #82a238, #a6b62f, #cfc924, #fdda16);
}

.convert .label{
  color: white;
}
.money-container{
background: rgba(151, 151, 72, 0.48);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 254, 112, 0.3);
}

.chips-container{


  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}
.money-container , .chips-container{
display: flex;
flex-direction: column;
width: 100%;
gap: 0.5em;
padding: 1em;
}





/* hero */
.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
 
margin: 0 auto;
padding: 2em;

border-radius: 2px;



}
.hero-container .hero-img{
  display: flex;
  justify-content: center;
width: 40%;

}
.hero-container .hero-img img{
  width:100% ;
  
}
.hero-content h1{
  font-size: 2em;
color: white;
margin-bottom:0.5em;
}
.hero-content p{
  font-size: 1.5em;
  color: white;

}









  /* guide */
  .guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */


  }
/* guide link */
.tut-page{
width: 100%;
  display: flex;
  justify-content: flex-start;
  margin:  auto;
  gap: 8px;
padding: 1em 0;

}
.guide-link{
border-radius: 8px;
  padding: 20px ;
border: 1px solid #8cc952 ;
}
.guide .tut-page a{
  letter-spacing: 2px;
}

/* end of guide link */

/* end of guide */



  .container{
width: 100%;
margin: 0 auto;
  }
  .container-wrapper{
  width: 100%;
  }


.card-wrapper{
  margin-bottom: 2em;
  width: 100%;
}
.card-wrapper h3 ,p{
    margin-bottom: 8px;
}

.card-wrapper p , li p{
  color: rgb(158, 156, 156);
}

  .hidden {
    display: none;
  }

  .show{
    display: block;
  }
 
  /* boardguide */

  #boardGuide p , .board-ul li{
    color: rgb(158, 156, 156);
  }

.board-ul{
    margin: 2em 0;
}

  .board-ul li{
    margin-bottom: 4px;
  }

.board-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .board-container ul h3{
    margin-bottom: 1em;
  }
  .board-container ul li {
    margin-bottom: 8px;
  }
  .board-container ul img{
    border-radius: 20px;
  }
  .board-container .board-img{
    margin-left: 40px;
border-radius: 20px;
margin-bottom: 2em;
  }


/* margin bottom spacing */
.s1{
  margin-bottom: 1em;
}







/* table */
.table{
  max-width: 800px;
  margin: 0 auto;
}
.table img{
  width: 100%;
}
.hero{
  margin-bottom: 4em;
  max-width: 800px;
  padding: 0;
}
.game-guide-title{
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.5rem;
}
.game-guide-title h1{
  color: #648d3d;
}
.partner{
  margin: 2em 0;
  text-align: center;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 1em;

}
.partner-wrapper{
  border: 1px solid #8cc952;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
border-radius: 8px;
background-color: #376115;
}
.partner-wrapper h2{
  letter-spacing: 4px;
}
.partner-wrapper p{
 margin: 0;
}
  @media only screen and (max-width: 768px) {
section{
  width: 90%;
}
.hero{
  width: 90%;
  margin: 0 auto;
margin-bottom: 2em;

}
.game-guide-title h1{

  font-size: 2rem;
}



.dl-btn {
  width: 100%;
}


.convert{
  width: 90vw;
  padding: 0;
  margin-bottom: 1em;
}
.convert-wrapper{
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.hero-img img{
  display: none;
}
    .container-wrapper ol {
      padding-left:0 ;
    }
    .container-wrapper ol li img{
     width: 100%;
    }

    .board-container img{
      width: 100%;
    }
    #boardGuide .container .container-wrapper{
      width: 100%;
    }
    .board-container .board-img{
  
margin: 0;
margin-bottom: 2em;
    }
  } 